<html>
    <head>
        <!-- CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fezvrasta.github.io/bootstrap-material-design/dist/css/material-fullpalette.min.css">
        <style>
            
            #sidebar {
                background-color: cornflowerblue;
            }
            
            .headshot {
                border-radius: 50%;
                width: 200px;
                height: auto;
                display: block;
                margin: auto;
                box-shadow: 2px;
            }
            
            .teamname {
                text-align: center;   
            }
            
        </style>
       
        <!-- JS -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.1.3/mustache.min.js"></script>
    </head>
    <body>
        <div class="row">
            <div id="sidebar" class="col-sm-3 col-md-2 sidebar">
                <div class="row">
                    <img class="headshot" src="http://i.imgur.com/tt8BzTe.jpg" alt="">
                </div>
                <div class="row">
                    <H3 class="teamname">How the Lynch Stole Christmas</H3>
                </div>
                <div class="row">
                    <button class="btn btn-default">League</button>
                </div>
            </div>
            <div id="content" class="col-sm-9 col-md-8">
                <div class="row">
                    <div class="col-md-9">
                        <H1>Player</H1>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>        
        </div>
    </body>
</html>